<!-- BEGIN #footer -->
<footer class="border-top footer text-muted">
    <div id="footer" class="app-footer" style="padding:0px 10px; margin-top:-50px;">
        <img src="~/img/qa-ingenieros-logo.jpg" style="height:40px" />
        <small>&copy; 2020 - QA Ingenieros Ltda, Bogotá, Colombia <a href="mailto:info@qaingenieros.com">info@qaingenieros.com</a></small>
        
        <div class="float-right">
            <small>DRACO MQTT V 0.1</small>
        </div>
    </div>
</footer>
<!-- END #footer -->