@model AspStudio.Models.LoginModel

@{
    Layout = "_Simple";
    ViewData["Title"] = "Login";
}

    <div style="vertical-align:middle;text-align:center;height:100%">
        <br />
        <img src="~/images/iconfinder_doctor-4394752.png" style="height:128px" />
        <h1>Sirona</h1>
        <hr />

        <div id="divTipoIngreso">
            <br />
            <div class="text-center">
                <a class="" onclick="MostrarLoginPersona('divEmpleado')" style="cursor:pointer;">
                    <i class="fas fa-hard-hat" style="font-size:48px"></i><br />
                    Empleado
                </a>
            </div>
            <br />
            <div class="text-center">
                <a class="" onclick="MostrarLoginPersona('divVisitante')" style="cursor:pointer;">
                    <i class="fas fa-street-view" style="font-size:48px"></i><br />
                    Visitante
                </a>
            </div>
            <br />
            <div class="text-center">
                <a class="" onclick="MostrarLoginPersona('divSupervisor');" style="cursor:pointer;">
                    <i class="fas fa-user-tie" style="font-size:48px"></i><br />
                    Supervisor
                </a>
            </div>
        </div>

        <div style="text-align:center;width:100%;display:none;" id="divEmpleado">
            <h5>Empleado</h5>
            <form asp-controller="Account" asp-action="LoginEmpleado" method="post">
                <div class="col-md-5" style="width: auto;height: auto;margin: 0 auto;padding: 10px;position: relative;">
                    <div class="row">
                        <div class="col-md-5">Identificación</div>
                        <div class="col-md-5">@Html.TextBox("identificacion")</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-10">
                            <button type="button" class="btn btn-info" onclick="submit()">Ingresar</button>
                            <button type="button" class="btn btn-info" onclick="MostrarLoginPersona('divTipoIngreso');">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div style="text-align:center;width:100%;display:none;" id="divVisitante">
            <h5>Visitante</h5>
            <form asp-controller="Account" asp-action="LoginVisitante" method="post">
                <div class="col-md-5" style="width: auto;height: auto;margin: 0 auto;padding: 10px;position: relative;">
                    <div class="row">
                        <div class="col-md-5">Identificación</div>
                        <div class="col-md-5">@Html.TextBox("identificacion")</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-10">
                            <button type="button" class="btn btn-info" onclick="submit()">Ingresar</button>
                            <button type="button" class="btn btn-info" onclick="MostrarLoginPersona('divTipoIngreso');">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div style="text-align:center;width:100%;display:none;" id="divSupervisor">
            <h5>Visitante</h5>
            <form asp-controller="Account" asp-action="LoginSupervisor" method="post">
                <div class="col-md-5" style="width: auto;height: auto;margin: 0 auto;padding: 10px;position: relative;">
                    <div class="row">
                        <div class="col-md-5">Identificación</div>
                        <div class="col-md-5">@Html.TextBox("identificacion")</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-10">
                            <button type="button" class="btn btn-info" onclick="submit()">Ingresar</button>
                            <button type="button" class="btn btn-info" onclick="MostrarLoginPersona('divTipoIngreso');">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <hr />
        <div id="mensajeError" class="text-danger">@ViewBag.Mensaje</div>

    </div>