@{
    ViewData["Title"] = "Starter Page";
}
<link href="@Url.Content("~/css/visitante.css")" rel="stylesheet" type="text/css" />

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    
</ul>

<h1 class="page-header">
   Registro de visitantes a ecopetrol
</h1>

<div class="card_visitor">
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center">Datos personales.</h2>
                <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Nombre" /></div>
                <div class="form-group"><input class="form-control" type="text" name="lastname" placeholder="Apellido" /></div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Genero </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="#">Femenino</a>
                        <a class="dropdown-item" role="presentation" href="#">Masculino</a>
                    </div>
                </div>
                <div class="form-group"><input class="form-control" type="text" name="phone" placeholder="Celular" /></div>
                <div class="form-group"><input class="form-control" type="text" name="authorize" placeholder="Autoriza" /></div>
                <div class="form-group"><input class="form-control" type="text" name="doc_authorize" placeholder="Documento Autoriza" /></div>

                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Registrar</button></div>
            </form>
        </div>
    </div>
</div>
