@{
    ViewData["Title"] = "Starter Page";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    
</ul>

<div style="vertical-align:middle;text-align:center;height:100%">
        <img src="~/img/logo.png" style="height:128px" />
        <h1>Sistema administración dispositivos</h1>
        <h2>Control de acceso por Temperatura</h2>
        <hr />
</div>