@{
    ViewData["Title"] = "Starter Page";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    
</ul>

<h1 class="page-header">
    Pagina de inicio
</h1>
