<system.net>
  <mailSettings>
    <smtp from="info@qaingenieros.com">
      <network host="mail.qaingenieros.com" 
               port="587" 
               userName="info@qaingenieros.com"
               password="qaingenieros-123" 
               enableSsl="true" />
    </smtp>
  </mailSettings>
</system.net>