@{
    ViewData["Title"] = "Device Page";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    <li class="breadcrumb-item active">REPORTES</li>
</ul>

<h1 class="page-header">
    Vista de Reportes
</h1>
